.reviews-header{
    margin:10px 0;
}
.last-reviews{
    font-size: 1.2em;
    font-weight: 800;
}
.show-reviews {
    text-decoration: underline;
    margin: 0 10px;
    color: #005ea1;
    cursor: pointer;
}
.indicators{
 float: right;
}
<<<<<<< HEAD
.indicators span{
    margin: 0 8px;
    cursor: pointer;
}
.indicators img {
    width: 12px;
    height: 12px;
}
.reviewer-name{
    font-size: 1.1em;
=======

.reviewer-name{
    font-size: 1.2em;
>>>>>>> 1417737d8a21b44a4583e8e9708c0bdf9f0170c8
    font-weight: 800;
}
.reviewer-date{
    color: #888;
<<<<<<< HEAD
    font-size: 0.8em;
=======
>>>>>>> 1417737d8a21b44a4583e8e9708c0bdf9f0170c8
    margin: 0 10px;
}
.reviewer-text{
    background-color: #f2fbff;
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 15px 10px;
}
.reviews-list ul li {
    margin: 20px 0;
}
<<<<<<< HEAD

=======
>>>>>>> 1417737d8a21b44a4583e8e9708c0bdf9f0170c8
.reviews-add{
    background-color: #F2F2F2;
    padding: 30px 20px;
}
.reviews-add-name{
    width: 100%;
    margin: 0 auto;
    line-height: 2em;
    margin-bottom: 25px;
}
<<<<<<< HEAD
.heart-symbol{
    color:#72b3d4;
}
=======
>>>>>>> 1417737d8a21b44a4583e8e9708c0bdf9f0170c8
#reviews-text{
    width: 100%;
    margin-bottom: 25px;
}
.reviews-add-button{
    font-weight: 800;
    color: #333;
    font-size: 0.9em;
    background-color: #fcd63a;
    line-height: 3em;
    border: none;
    width: 60%;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
<<<<<<< HEAD
}
.review{
    position: relative;
}
.review h4 {
    margin: 10px 0;
}
.triangle{
    position: absolute;
    left:5%;
    top:20px;
=======
>>>>>>> 1417737d8a21b44a4583e8e9708c0bdf9f0170c8
}